<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>ru.kpfu.servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>succesfull</servlet-name>
        <servlet-class>ru.kpfu.servlets.SuccesServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/form</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>succesfull</servlet-name>
        <url-pattern>/succes</url-pattern>
    </servlet-mapping>

    </web-app>